@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <style>
        .login{
            background-color: white;
            width: 50%;
            height: 75px;
            margin: auto;
            border-radius: 5px;
            box-shadow: 15px 0px 30px solid #000;
        }
        </style>
    <div class="login">
    <h1 class="display-4">AAPU MEMBERS LOGIN</h1>
    <label>Username</label>
    <input type="text" autofocus class="form-control" placeholder="Enter Your Username">
    <label>Password</label>
    <input typse="text" autofocus class="form-control" placeholder="Enter Your Password">
        <br>
    <input type="button" autofocus class="btn btn-success" value="Login">
</div>
</div>
