@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">AAPU MEMBERS LOGIN</h1>
    <label>Username</label>
    <input type="text" autofocus class="form-control" placeholder="Enter Your Username">
    <label>Password</label>
    <input type="text" autofocus class="form-control" placeholder="Enter Your Password">
</div>
